<section class="bg-dark text-white p-5 text-center">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="projects d-flex flex-column">
                    <h5>Projects</h5>
                    <a [href]="portLink" target="_blank">portfolio</a>
                    <a [href]="myStoreLink" target="_blank">Store</a>
                    <a [href]="movieLink" target="_blank">Movies</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="social">
                    <h5 class="text-center">Contact me</h5>
                    <ul class="d-flex justify-content-around fs-4">
                        <li><a [href]="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a [href]="linkeDin" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a [href]="gitHup" target="_blank"><i class="fa-brands fa-github text-black"></i></a>
                        </li>
                        <li><a [href]="whatsapp" target="_blank"><i class="fa-brands fa-whatsapp text-success"></i></a>
                        </li>
                        <li><a [href]="gmail" target="_blank"><i class="fa-sharp fa-solid fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="title mt-4">
                    <h4>Copyright © 2023, All Right Reserved Romario Noshy Front-End Developer.</h4>
                </div>
            </div>
        </div>
    </div>
</section>