<section id="about" class="about mt-5 pt-5">
    <div class="container">
        <div class="row mt-5">

            <div class="body d-flex flex-row-reverse">
                <div class="col-md-4 col-sm-12 me-2 p-3" appScrollAnimate animationType="fade-right"
                    [animationDelay]="200">
                    <div class="profile-image img-fluid">
                        <img loading="lazy" [src]="imgProfil" alt="image profile">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 p-3 d-flex" appScrollAnimate animationType="fade-left"
                    [animationDelay]="0">
                    <div class="caption w-75">
                        <h2 class="fw-bold">About Me</h2>
                        <p class="text-secondary fs-5 ">I'm Romario Noshy, a frontend developer with over two years of
                            experience building modern, scalable web applications using Angular. I focus on crafting
                            fast, intuitive, and accessible user interfaces that combine strong engineering with
                            thoughtful design.

                            My journey into web development began with a simple curiosity about how websites work, which
                            soon grew into a passion for creating digital experiences that users truly enjoy. Throughout
                            my career, I've collaborated with startups and diverse development teams to deliver
                            flexible, high-quality solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>