.line {
    width: 15%;
    height: 3px;

}

.profile-image {
    width: 100%;
    height: 500px;
    border-radius: 20px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        box-shadow: 5px 5px 14px -4px rgb(0, 0, 0);
        border: 3px solid #09c;
    }

}

.caption p {
    line-height: 2;
}

.social {

    box-shadow: 0px 0px 4px 0px black;

}

ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width:767px) {
    .profile-image {
        width: 150px;
        height: 200px;
        margin: auto;
    }
    .body {
        flex-wrap: wrap;
    }
    
    .caption .fw-bold {
        display: none;
    }
}