<section id="about" class="about mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="title pt-5 mb-5">
                <h2 class=" text-center h1 fw-bold">About</h2>
                <div class="bg-primary line m-auto"></div>
            </div>
            <div class="body d-flex">
                <div class="col-md-4 col-sm-12 me-2">
                    <div class="profile-image img-fluid">
                        <img loading="lazy" [src]="imgProfil" alt="image profile">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 p-3 d-flex">
                    <div class="caption">
                        <h2 class="fw-bold">About Me</h2>
                        <p class="text-secondary fs-5 ">“Hello! I am a front-end developer with a passion for creating
                            intuitive and dynamic user experiences. With a strong understanding of HTML, CSS, and
                            JavaScript, I am able to bring designs to life and ensure that users have a seamless
                            interaction with the product. I am always eager to learn and stay up-to-date with the latest
                            trends and technologies in front-end development.”</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skills">
                    <div class="title mt-3">
                        <h2 class="fw-bold">Skills</h2>
                        <div class="bg-primary line mb-5"></div>
                    </div>
                    <label class="h5">HTML5</label>
                    <div class="progress mb-3" role="progressbar" aria-label="Success example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary fw-bolder" style="width: 95%">95%</div>
                    </div>
                    <label class="h5">CSS3</label>
                    <div class="progress mb-3" role="progressbar" aria-label="Info example" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary  fw-bolder" style="width: 80%">80%</div>
                    </div>
                    <label class="h5">java Script</label>
                    <div class="progress mb-3" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary  fw-bolder" style="width: 75%">75%</div>
                    </div>
                    <label class="h5">Jquery</label>
                    <div class="progress mb-3" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary  fw-bolder" style="width: 75%">75%</div>
                    </div>
                    <label class="h5">Bootstrap5</label>
                    <div class="progress mb-3" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary  fw-bolder" style="width: 90%">75%</div>
                    </div>
                    <label class="h5">Type Script</label>
                    <div class="progress mb-3" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary fw-bolder" style="width: 80%">80%</div>
                    </div>
                    <label class="h5">Angular</label>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary fw-bolder" style="width: 75%">75%</div>
                    </div>
                </div>
                <button class="btn btn-primary mt-4 fw-bolder"><a [href]="myCv" target="_blank"
                        class="text-white fw-bold text-decoration-none" download="Romario_CV">Download
                        C.V</a></button>
                <div class="social w-50 my-5 m-auto rounded-5">
                    <ul class="d-flex justify-content-around fs-2">
                        <li><a [href]="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a [href]="linkeDin" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a [href]="gitHup" target="_blank"><i class="fa-brands fa-github text-black"></i></a></li>
                        <li><a [href]="gmail" target="_blank"><i class="fa-sharp fa-solid fa-envelope text-danger"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>