<section id="projects" class="mt-5 py-5 ">
    <div class="container">
        <div class="row">
            <div class="title m-auto pt-5" appScrollAnimate animationType="fade-up" [animationDelay]="0">
                <h2 class="h1 fw-bold">Featured Projects</h2>
                <p>A selection of my recent work showcasing various technologies and design approaches.</p>
            </div>
            <div class="d-flex flex-row justify-content-between gap-3 flex-wrap my-4">
                <div class="col-xl-6 col-md-6 col-sm-12" appScrollAnimate animationType="zoom-in"
                    [animationDelay]="100">
                    <div class=" rounded-4 shadow">
                        <p-card class="card">
                            <ng-template pTemplate="header">
                                <img [src]="portfolio_img" alt="portfolio project" />
                            </ng-template>
                            <div class="p-3">
                                <h3 class="fw-bold">portfolio site</h3>
                                <p>
                                    It's an responsive attractive portfolio site.
                                </p>
                                <div class="d-flex flex-wrap gap-2 flex-wrap">
                                    <div class="label rounded-4 text-center p-2">HTML5</div>
                                    <div class="label rounded-4 text-center p-2">Css3</div>
                                </div>
                                <div class="my-3">
                                    <a class="link" [href]="portLink" target="_blank">
                                        <span class="fw-bold me-2 ">View Demo</span>
                                        <i class="fa-solid fa-link text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12" appScrollAnimate animationType="zoom-in"
                    [animationDelay]="200">
                    <div class="rounded-4 shadow">
                        <p-card class="card">
                            <ng-template pTemplate="header">
                                <img [src]="store_img" alt="store project" />
                            </ng-template>
                            <div class="p-3">
                                <h3 class="fw-bold">store project</h3>
                                <p>
                                    It's a responsive simple store (CRUD).
                                </p>
                                <div class="d-flex flex-wrap gap-2 flex-wrap">
                                    <div class="label rounded-4 text-center p-2">HTML5</div>
                                    <div class="label rounded-4 text-center p-2">Css3</div>
                                    <div class="label rounded-4 text-center p-2">Java Script</div>
                                </div>
                                <div class="my-3">
                                    <a class="link" [href]="myStoreLink" target="_blank">
                                        <span class="fw-bold me-2 ">View Demo</span>
                                        <i class="fa-solid fa-link text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12" appScrollAnimate animationType="zoom-in"
                    [animationDelay]="300">
                    <div class="rounded-4 shadow">
                        <p-card class="card">
                            <ng-template pTemplate="header">
                                <img [src]="movies_img" alt="movies project" />
                            </ng-template>
                            <div class="p-3">
                                <h3 class="fw-bold">movies project</h3>
                                <p>
                                    It's a responsive site to find out the details of the latest movies
                                    and TV show.
                                </p>
                                <div class="d-flex gap-2 flex-wrap">
                                    <div class="label rounded-4 text-center p-2">HTML5</div>
                                    <div class="label rounded-4 text-center p-2">Css3</div>
                                    <div class="label rounded-4 text-center p-2">Type Script</div>
                                    <div class="label rounded-4 text-center p-2">Sass</div>
                                    <div class="label rounded-4 text-center p-2">API</div>
                                    <div class="label rounded-4 text-center p-2">Angular</div>
                                </div>
                                <div class="my-3">
                                    <a class="link" [href]="movieLink" target="_blank">
                                        <span class="fw-bold me-2 ">View Demo</span>
                                        <i class="fa-solid fa-link text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>