<section id="projects" class="mt-5 py-5 ">
    <div class="container">
        <div class="row">
            <div class="title m-auto pt-5">
                <h2 class=" text-center h1 fw-bold">Projects</h2>
                <div class="bg-primary line m-auto"></div>
            </div>
            <div class="col-md-12 d-flex justify-content-between align-items-center flex-row flex-wrap my-5">
                <div class="col-xl-4 col-md-6 col-sm-16">
                    <div class="one">
                        <img loading="lazy" [src]="portfolio_img" alt="portfolio project" class="img-fluid">
                        <div class="overlay text-white">
                            <h5 class="text-center">It's an responsive attractive portfolio site , I used:
                            </h5>
                            <div class="skill d-flex justify-content-between align-items-center">
                                <ul class="w-75">
                                    <li>HTML5</li>
                                    <li>Css3</li>
                                </ul>
                                <div class="link d-flex align-items-center justify-content-center">
                                    <a [href]="portLink" target="_blank"><i
                                            class="fa-solid fa-link text-primary"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="one">
                        <img loading="lazy" [src]="store_img" alt="store project" class="img-fluid">
                        <div class="overlay text-white">
                            <h6 class="text-center">It's a responsive simple store (CRUD), I used:</h6>
                            <div class="skill d-flex justify-content-between align-items-center">
                                <ul class="w-75">
                                    <li>HTML5</li>
                                    <li>Css3</li>
                                    <li>Java Script</li>
                                </ul>
                                <div class="link d-flex align-items-center justify-content-center">
                                    <a [href]="myStoreLink" target="_blank"><i
                                            class="fa-solid fa-link text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="one">
                        <img loading="lazy" [src]="movies_img" alt="movies project" class="img-fluid">
                        <div class="overlay text-white">
                            <h5 class="text-center">It's a responsive site to find out the details of the latest movies
                                and TV show, I used:</h5>
                            <div class="skill d-flex justify-content-between align-items-center">
                                <ul class="d-flex flex-column">
                                    <li>HTML5</li>
                                    <li>Css3</li>
                                    <li>Type Script</li>
                                </ul>
                                <ul>
                                    <li>Sass</li>
                                    <li>API</li>
                                    <li>Angular</li>
                                </ul>
                                <div class="link d-flex align-items-center justify-content-center">
                                    <a [href]="movieLink" target="_blank"><i
                                            class="fa-solid fa-link text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>