.line {
    width: 15%;
    height: 3px;

}


button {
    background-color: #02456f;
    border-radius: 13px;
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
}