<section id="contact" class="mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">


                <div class="content text-center d-flex flex-column justify-content-center align-items-center"
                    appScrollAnimate animationType="slide-up" [animationDelay]="0">
                    <h2 class="fw-bold h1">Let's Work Together</h2>
                    <p class="h4">I'm always interested in hearing about new projects and opportunities. <br> Feel free
                        to
                        reach
                        out!</p>
                    <button class="mt-3">
                        <a class="text-white text-decoration-none fw-bold" [href]="gmail" target="_blank"><i
                                class="me-2 fa-sharp fa-solid fa-envelope"></i> Send me an
                            email</a>
                    </button>
                </div>

                <div class="my-5 m-auto fw-bold fs-3" appScrollAnimate animationType="fade-up" [animationDelay]="300">
                    <ul class="d-flex justify-content-center">
                        <li class="mx-2"><a [href]="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="mx-2"><a [href]="linkeDin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </li>
                        <li class="mx-2"><a [href]="whatsapp" class="text-success" target="_blank"><i
                                    class="fa-brands fa-whatsapp"></i></a></li>
                        <li class="mx-2"><a [href]="gitHup" target="_blank"><i
                                    class="fa-brands fa-github text-black"></i></a>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
    </div>

</section>