// section {
//     // background-color: #f2f3f9;

// }

// .line {
//     width: 15%;
//     height: 3px;
// }

.title {
    p {
        color: #4c5753;
        font-size: 18px;
        font-weight: 400;
    }
}

.service {
    h2 {
        color: #02456f;
        font-weight: bold;
        font-size: 24px;
    }

}

.label {
    background-color: #dfe6ed;
    color: #02456f;
}



.service {
    padding: 10px;
    box-shadow: 4px 5px 19px -12px;
    border-radius: 20px;

}

// .service:hover {
//     box-shadow: 5px 5px 10px -1px black;

// }

// .service p {
//     line-height: 1.5;
//     margin-bottom: 75px;
//     color: #6c758e;
// }

// .service svg {

//     border-radius: 0 0 9px 9px;
//     -webkit-border-radius: 0 0 9px 9px;
//     -moz-border-radius: 0 0 9px 9px;
//     -ms-border-radius: 0 0 9px 9px;
//     -o-border-radius: 0 0 9px 9px;
//     position: absolute;
//     bottom: 0;
//     left: 0;
// }