.title {
    p {
        color: #4c5753;
        font-size: 18px;
        font-weight: 400;
    }
}

.service {
    h2 {
        color: #02456f;
        font-weight: bold;
        font-size: 24px;
    }

}

.label {
    background-color: #dfe6ed;
    color: #02456f;
}



.service {
    padding: 10px;
    box-shadow: 4px 5px 19px -12px;
    border-radius: 20px;

}