<section id="skills" class="skills py-5 ">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="title m-auto py-5 mt-5">
                <h2 class="h1 fw-bold">Skills & Expertise</h2>
                <p>Technologies and tools I work with to build modern web applications.</p>
            </div>
            <div class="col-md-6 col-sm-12 my-3">
                <div class="service h-100">
                    <h2>Front-end</h2>
                    <div class="d-flex flex-wrap gap-2">
                        <div class="label rounded-4 text-center p-2">HTML5</div>
                        <div class="label rounded-4 text-center p-2">Css3</div>
                        <div class="label rounded-4 text-center p-2">Bootstrap</div>
                        <div class="label rounded-4 text-center p-2">Java Script</div>
                        <div class="label rounded-4 text-center p-2">Type Script</div>
                        <div class="label rounded-4 text-center p-2">Angular</div>
                        <div class="label rounded-4 text-center p-2">Tailwind CSS</div>
                        <div class="label rounded-4 text-center p-2">Angular material</div>
                        <div class="label rounded-4 text-center p-2">NG Prime</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-3">
                <div class="service h-100">
                    <h2>Back-end</h2>
                    <div class="d-flex flex-wrap gap-2">
                        <div class="label rounded-4 text-center p-2">REST APIs</div>
                        <div class="label rounded-4 text-center p-2">SQL</div>
                        <!-- <div class="label rounded-4 text-center p-2">Node JS</div>
                        <div class="label rounded-4 text-center p-2">Java Script</div> -->
                        <!-- <div class="label rounded-4 text-center p-2">Java Script</div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-3">
                <div class="service h-100">
                    <h2>Tools & Platform</h2>
                    <div class="d-flex flex-wrap gap-2">
                        <div class="label rounded-4 text-center p-2">Git</div>
                        <div class="label rounded-4 text-center p-2">GitHub</div>
                        <!-- <div class="label rounded-4 text-center p-2">Java Script</div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-3">
                <div class="service h-100">
                    <h2>Design</h2>
                    <div class="d-flex flex-wrap gap-2">
                        <div class="label rounded-4 text-center p-2">UI/UX Basics</div>
                        <div class="label rounded-4 text-center p-2">Figma</div>
                        <div class="label rounded-4 text-center p-2">Responsive Design</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>