.navbar {
    background-color: #221F28;
    box-shadow: 0px 0px 11px -2px white;
    box-shadow: 0px 0px 15px -2px white inset;
    
}

.active {
    color:#0d6efd !important;
}

.navbar-brand {
   cursor: pointer;
}