section {
    background-color: #f2f3f9;
    
}

.line {
    width: 15%;
    height: 3px;
}

.service {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    padding: 20px;
    
    background-color: white;
    line-height: 4;
    
}

.service:hover {
    box-shadow: 5px 5px 10px -1px black;

}

.service p {
    line-height: 1.5;
    margin-bottom: 75px;
    color: #6c758e;
}

.service svg {
    
    border-radius: 0 0 9px 9px;
    -webkit-border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;
    -ms-border-radius: 0 0 9px 9px;
    -o-border-radius: 0 0 9px 9px;
    position: absolute;
    bottom: 0;
    left: 0;
}