/* You can add global styles to this file, and also import other style files */

$minColor : red;
$nav-color : #374756;
$line-color : #554687;


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

